.preview {
  background-color: white;
  width: 100%;
  display: flex;
  padding-left: 4rem;
  border-radius: 1.429rem;
  margin-top: 2.381rem;
  padding-bottom: 5.381rem;


  &-left {
    display: flex;
    flex-direction: column;
    padding-top: 2.857rem;

    &__title {
      font-size: 3.238rem;
      width: 30.857rem;
      color: var(--main-color);
      font-weight: 700;
    }

    &__desc {
      color: var(--main-color);
      font-size: 1.143rem;
      width: 27.429rem;
      margin-top: 2.143rem;
    }

    &__buttons {
      margin-top: 4.238rem;
      width: 100%;
      display: flex;
      gap: 0.476rem;
    }

    &__button {
      background-color: var(--accent-color);
      color: white;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 0.714rem 2.857rem;
      font-size: 1.143rem;
      transition: all 250ms ease;

      &:hover{
        background-color: var(--main-color);
      }

      &:first-child {
        border-top-left-radius: 0.476rem;
        border-bottom-left-radius: 0.476rem;
      }

      &:last-child {
        border-top-right-radius: 0.476rem;
        border-bottom-right-radius: 0.476rem;
      }
    }
  }

  &-right {
    padding-top: 2.762rem;

    &__image {
      width: 38.667rem;
      height: 21.048rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.238rem;
      row-gap: 1.476rem;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: .905rem;

      & > div {
        background-color: var(--accent-color);
        width: 2.238rem;
        height: 2.238rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
          width: 1.19rem;
          height: 1.19rem;
        }
      }

      & > h3 {
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: .952rem;
        color: var(--main-color);
      }
    }
  }
}

.about {
  margin-top: 3.143rem;
  display: flex;
  flex-direction: column;

  &__title {
    padding-left: 4rem;
    color: var(--main-color);
    font-size: 2.286rem;
    font-weight: 700;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.476rem;
    column-gap: 1.095rem;
    row-gap: 1.048rem;
    position: relative;
  }

  &-center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      width: 4.524rem;
      height: 4.524rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--accent-color);
      border-radius: 100%;

      & > img {
        width: 2.905rem;
        height: 2.905rem;
      }
    }
  }

  &-item {

    display: flex;
    flex-direction: column;
    padding: 2.714rem 3.381rem;
    border-radius: 1.429rem;
    gap: 1.048rem;

    &__title {
      font-size: 1.524rem;
      color: var(--main-color);
    }

    &__desc {
      font-size: 0.952rem;
      color: var(--main-color);
    }

    &__bg {
      background-color: white;
    }
  }
}

.stats{
  margin-top: 7.095rem;
  padding-left: 3.286rem;

  &-upper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & > p{
      font-size: 4.571rem;
      font-weight: 700;
      color: var(--accent-color);
    }
  }
  &-down {
    display: flex;
    align-items: center;

    & > p {
      font-size: 1.524rem;
      color: var(--main-color);

      &:first-child {
        padding-left: 5.619rem;
      }
    }

    &__first-line, &__second-line {
      background-color: var(--main-color);
      height: 1px;
    }

    &__first-line {
      width: 10.048rem;
      margin-left: 1.333rem;
      margin-right: 2.476rem;
    }

    &__second-line {
      width: 16.571rem;
      margin-left: 1.571rem;
      margin-right: 2.381rem;
    }
  }
}

.info{
  margin-top: 1.952rem;

  &-upper{
    display: flex;
    align-items: center;
    gap: 2.381rem;
    &__image{
      width: 22.048rem;
      height: 21.667rem;
    }

    &__content{
      display: flex;
      flex-direction: column;
      gap: 1.905rem;
    }

    &__title{
      font-weight: 700;
      font-size: 2.286rem;
      display: flex;
      align-items: center;
      color: var(--main-color);
      gap: .952rem;
    }

    &__block{
      display:  grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5.619rem;
      row-gap: 1.571rem;

      & > div{
        display: flex;
        align-items: center;
        gap: 1.429rem;

        & > img{
          width: 2.905rem;
          height: 2.905rem;
        }

        & > p{
          font-size: 1.143rem;
          font-weight: 700;
          color: var(--main-color);
        }
      }
    }
  }
}

.cases{
  margin-top: 4.571rem;

  &__title{
    font-size: 2.286rem;
    color: var(--main-color);
    font-weight: 700;
  }

  &-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1.714rem;
    gap: 1.238rem;
  }
  &-buttons{
    margin-top: 1.619rem;
    display: flex;
    justify-content: space-between;

    &__item{
      width: 17.19rem;
      background-color: var(--accent-color);
      border-radius: 0.952rem;
      outline: none;
      transition: all 300ms ease;
      color: white;
      font-size: 1.714rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.095rem;
      text-decoration: none;

      &:hover{
        background-color: var(--main-color);
      }
    }
  }
}
